<div class="row">
    <h3>nested accordion Level 1</h3>
    <ul ng-accordion>
        <li ng-accordion-group>
            <h2 ng-accordion-heading>Heading 1</h2>
            <div ng-accordion-body>
                <h3>nest accordion level 2</h3>
                <ul ng-accordion>
                    <li ng-accordion-group>
                        <h2 ng-accordion-heading>Heading 11</h2>
                        <div ng-accordion-body>Body 11</div>
                    </li>
                    <li ng-accordion-group>
                        <h2 ng-accordion-heading>Heading 12</h2>
                        <div ng-accordion-body>Body 12</div>
                    </li>
                    <li ng-accordion-group>
                        <h2 ng-accordion-heading>Heading 13</h2>
                        <div ng-accordion-body>Body 13</div>
                    </li>
                    <li ng-accordion-group>
                        <h2 ng-accordion-heading>Heading 14</h2>
                        <div ng-accordion-body>Body 14</div>
                    </li>
                </ul>
            </div>
        </li>
        <li ng-accordion-group>
            <h2 ng-accordion-heading>Heading 2</h2>
            <div ng-accordion-body>Body 2</div>
        </li>
        <li ng-accordion-group>
            <h2 ng-accordion-heading>Heading 3</h2>
            <div ng-accordion-body>Body 3</div>
        </li>
        <li ng-accordion-group>
            <h2 ng-accordion-heading>Heading 4</h2>
            <div ng-accordion-body>Body 4</div>
        </li>
    </ul>
</div>